.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoTitle {
  text-align: center;
}

.todoList {
  width: 600px;
}

.addTodoForm {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  font-size: 20px;
}

.createTodoMessage {
  margin-top: 1rem;
}
